---
layout: default
---

<!-- people.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>
      <!-- Display categorized people -->
    {%- for category in page.display_categories %}
    <h2 class="category">{{ category }}</h2>
    {%- assign categorized_people = site.people | where: "category", category -%}
      <div class="people">
        {%- assign people = categorized_people | sort: "order" -%} 
        {% for item in people%}

          <!-- Assign url variable from coauthors.yml -->
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[item.last_name] -%}
            {%- for coauthor in site.data.coauthors[item.last_name] -%}
              {%- if coauthor.firstname contains item.first_name -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          
          <div class="person">
            {%- if category == "Current" %}
            <div class="photo">
              {%- if item.image %}
              <img class="photo-image" src="{{ item.image | prepend: '/assets/img/people/' }}"/>         
              {% endif -%}
            </div>
            {% endif -%}
            <div class="name-position">
              {%- if coauthor_url %}
              <a class="name" href="{{coauthor_url}}"> 
                {{ item.first_name }} {{ item.last_name }}{%- if item.degree %}, {{ item.degree }}{% endif -%}
              </a>
              {% else %}
              <div class="name">
                {{ item.first_name }} {{ item.last_name }}{%- if item.degree %}, {{ item.degree }}{% endif -%}
              </div>
              {% endif -%}
              <div class="position">
                {{ item.position }}
              </div>
              {%- if category == "Past" %}
                <div class="position">
                  Current Position: {{ item.current }}
                </div>
              {% endif -%}
            </div>
            <div class="bio">
              {{ item.content }}
            </div>
          </div>
        {%- endfor %} 
      </div>
    {%- endfor %} 
</div>

